@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.poppins {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.blueShadow {
    box-shadow: 0px 14px 55px rgba(109, 40, 217, 0.45);
}

.specialSpin {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.blur-load {
    background-size: cover;
    background-position: center;
}

.img {
    object-position: center;
    object-fit: cover;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 23, 42);
    z-index: 0;
}